body {
    background-color: #F1F0FF ;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    text-align: center;
}

header {
    background-color: #9F17E8 ;
    color: #eff7a9;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    
}
h1{ -webkit-text-stroke: 1px black;
    font-family: 'Futura Display', sans-serif;
    font-weight: bold;
}
.question {
    background-color: #F1F0FF ;
    color: #9F17E8 ;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
    padding: 10px;
    border: 2px solid #eff7a9 ;
    border-top: 30px solid #eff7a9 ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    align-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
#next-button,
#replay-button {
    background-color: #9F17E8 ;
    font-family: 'Futura Display', sans-serif;
    -webkit-text-stroke: 1px black;
    color: #eff7a9;
    text-shadow: #2c0541;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
#options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}
.option-button {
    background-color: #eff7a9 ;
    color: #9F17E8 ;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #9F17E8 ;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
}
.options button:hover {
    color: #2c5364;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }


.button {
font-size: 25px;
background-color: #eff7a9;
border-radius: 90px;
border-color: #eff7a9;
width: 100%;
background: -webkit-linear-gradient(
    to right,
   #9F17E8,
    #eff7a9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9F17E8,
    #eff7a9
);
}
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrom
